.stabilityTable {
    height: 100vh;
    background-color: #03192e;
    .top-right-box {
        cursor: pointer;
        position: fixed;
        top: 26px;
        right: 30px;
        z-index: 2;
        display: flex;
        color: #ffffff;
        align-items: center;
        gap: 10px;
        .home-icon {
            width: 32px;
        }
    }
    :global {
        .ant-table {
            margin: 20px 40px 0 40px;
            .ant-table-content {
                width: 1960px;
            }
            .ant-table-cell {
                background-color: #03192e;
                color: white;
                font-weight: 200;
                border: 1px solid #386fa9;
            }
        }
    }
    .back {
        position: absolute;
        top: 140px;
        right: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .table-container {
        position: absolute;
        top: 160px;
        .search {
            color: white;
            margin-left: 40px;
            display: flex;
            gap: 20px;
            .inputs {
                display: flex;
                gap: 20px;
                & > * {
                    &:nth-child(4),
                    &:nth-child(5) {
                        margin-left: 70px;
                    }
                }
                .item {
                    display: flex;
                    align-items: center;
                    :global {
                        .ant-input,
                        .ant-select-selector {
                            width: 190px;
                            background: transparent;
                            color: white;
                        }
                        .ant-input::placeholder,
                        .ant-select-selection-placeholder {
                            color: rgb(143, 144, 145);
                            font-size: 10px;
                        }
                        .ant-select-selection-placeholder {
                            margin-top: 2px;
                        }
                    }
                }
            }
            .btns {
                display: flex;
                gap: 10px;
            }
        }
        .avatar {
            width: 50px;
            border-radius: 4px;
        }
        .opertate-btns {
            display: flex;
            gap: 16px;
            margin-left: 50%;
            transform: translateX(-30%);
            .item {
                cursor: pointer;
            }
            .edit {
                color: #f59a23;
            }
            .delete {
                color: #cb1023;
            }
            .to-top {
                color: #4ea1ff;
            }
        }
    }
}

:global {
    :where(.css-dev-only-do-not-override-w8mnev).ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > th,
    :where(.css-dev-only-do-not-override-w8mnev).ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td,
    :where(.css-dev-only-do-not-override-w8mnev).ant-table-wrapper .ant-table-tbody > tr > th.ant-table-cell-row-hover > td.ant-table-cell-row-hover {
        background: #03192e !important;
    }
    :where(.css-dev-only-do-not-override-w8mnev).ant-table-wrapper .ant-table-thead > tr > th,
    :where(.css-dev-only-do-not-override-w8mnev).ant-table-wrapper .ant-table-thead > tr > td {
        background-color: #123458 !important;
    }
    :where(.css-dev-only-do-not-override-w8mnev).ant-table-wrapper .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
    :where(.css-dev-only-do-not-override-w8mnev).ant-table-wrapper .ant-table-thead > tr > td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
        display: none;
    }
    .ant-modal-content,
    .ant-modal-header,
    .ant-select-selector {
        background-color: #03192e !important;
    }
    .ant-modal-content {
        border: 1px solid rgb(1, 108, 215) !important;
    }
    .anticon-close {
        color: white;
    }
    .ant-form-item-control-input-content {
        .ant-input {
            color: white !important;
            background-color: #03192e !important;
        }
        .ant-input::placeholder {
            color: rgb(143, 144, 145);
            font-size: 10px;
        }
    }
    .ant-select-selector {
        color: white !important;
        .ant-select-selection-placeholder {
            color: rgb(143, 144, 145);
            font-size: 10px;
        }
    }
    .ant-modal-title,
    .ant-form-item-label > label,
    .ant-upload {
        color: white !important;
    }
}
