.stability-single-detail {
    height: 2100px;
    background-color: #03192e;
    .back {
        position: absolute;
        top: 140px;
        right: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .content {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 20px;
        .time-line {
            position: absolute;
            left: 120px;
            top: 400px;
            .time-line-title {
                position: relative;
                .time-line-title-bg {
                    .time-line-title-bg-left,
                    .time-line-title-bg-mid,
                    .time-line-title-bg-right {
                        height: 50px;
                    }
                    .time-line-title-bg-left,
                    .time-line-title-bg-right {
                        width: 80px;
                    }
                    .time-line-title-bg-mid {
                        width: 30px;
                    }
                }
                .time-line-title-content {
                    color: white;
                    font-size: 20px;
                    letter-spacing: 4px;
                    position: absolute;
                    top: 50%;
                    left: 90px;
                    transform: translateX(-50%) translateY(-60%);
                }
            }
            .portraits-comparison-list {
                margin: 18px 0 0 50px;
                display: flex;
                gap: 10px;
                width: 1738px;
                overflow-x: hidden;
                .comparison-portrait {
                    background-color: #57668d;
                    border-radius: 4px;
                    color: white;
                    font-size: 12px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    cursor: pointer;
                    .tag {
                        align-self: flex-end;
                        padding: 4px 10px;
                    }
                    .comparison-portrait-rate-wrapper {
                        background-color: #2e374c;
                        .comparison-portrait-rate {
                            margin-left: 64%;
                            padding: 4px 10px;
                        }
                    }
                    .comparison-portrait-address,
                    .comparison-portrait-time {
                        padding: 4px 10px;
                    }
                }
            }
        }
        .perception-track {
            position: absolute;
            left: 120px;
            top: 900px;
            .time-line-title {
                position: relative;
                .time-line-title-bg {
                    .time-line-title-bg-left,
                    .time-line-title-bg-mid,
                    .time-line-title-bg-right {
                        height: 50px;
                    }
                    .time-line-title-bg-left,
                    .time-line-title-bg-right {
                        width: 80px;
                    }
                    .time-line-title-bg-mid {
                        width: 30px;
                    }
                }
                .time-line-title-content {
                    color: white;
                    font-size: 20px;
                    letter-spacing: 4px;
                    position: absolute;
                    top: 50%;
                    left: 90px;
                    transform: translateX(-50%) translateY(-60%);
                }
            }
            .tabs {
                padding: 20px 40px;
                display: flex;
                gap: 10px;
                margin: 10px 0;
                .tab {
                    padding: 6px 40px;
                    border-radius: 26px;
                    font-size: 16px;
                    color: #0291fb;
                    cursor: pointer;
                }
                .default {
                    background-color: transparent;
                    border: 2px solid #02ade8;
                }
                .actived-tab {
                    color: #ffffff;
                    font-weight: 600;
                    border: none;
                    background: linear-gradient(to bottom, #02ade8, #000000);
                }
            }
            .perception-track-content {
                margin-left: 50px;
                .by-time {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    height: 1000px;
                    overflow-y: scroll;
                    .section {
                        color: #0291fb;
                        font-weight: 600;
                        .section-time {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                        .section-card {
                            display: flex;
                            gap: 20px;
                            .section-card-label {
                                margin-top: 10px;
                            }
                            .section-card-img-list {
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                                gap: 10px;
                                margin: 10px 0;
                                .section-card-img-wrapper {
                                    color: white;
                                    font-size: 12px;
                                    font-weight: 200;
                                    background-color: #57668d;
                                    position: relative;
                                    .section-card-img {
                                        width: 148px;
                                        height: 148px;
                                    }
                                    .section-card-img-info-box {
                                        padding: 6px 10px;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
                .by-location {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    height: 1000px;
                    overflow-y: scroll;
                    .location-category {
                        .section-desc-title {
                            margin: 10px 0 20px 0;
                            .top-wrapper {
                                display: flex;
                                gap: 10px;
                                align-items: center;
                                .tag {
                                    width: 50px;
                                    height: 50px;
                                }
                                .text {
                                    font-size: 24px;
                                    color: #0291fb;
                                    font-weight: 600;
                                }
                            }
                            .addition {
                                color: #ffffff;
                                font-size: 12px;
                                margin-left: 60px;
                            }
                        }
                        .section {
                            color: #0291fb;
                            font-weight: 600;
                            .section-time {
                                font-size: 20px;
                                margin-bottom: 10px;
                            }
                            .section-card {
                                display: flex;
                                gap: 20px;
                                .section-card-label {
                                    margin-top: 10px;
                                }
                                .section-card-img-list {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                                    gap: 10px;
                                    margin: 10px 0;
                                    .section-card-img-wrapper {
                                        color: white;
                                        font-size: 12px;
                                        font-weight: 200;
                                        background-color: #57668d;
                                        position: relative;
                                        .section-card-img {
                                            width: 148px;
                                            height: 148px;
                                            cursor: pointer;
                                        }
                                        .section-card-img-info-box {
                                            padding: 6px 10px;
                                            display: flex;
                                            flex-direction: column;
                                            gap: 2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
