.form-item-input {
    width: 240px !important;
}

.header {
    display: flex;
    margin-bottom: 18px;
    .query {
        display: flex;
        .inputs {
            display: flex;
            column-gap: 20px;
        }
        .query-reset {
            margin-left: 20px;
            display: flex;
            column-gap: 10px;
            .query-btn {
                background-color: #2a58ad;
                color: white;
            }
        }
    }
    .btn-group {
        margin-left: auto;
        display: flex;
        column-gap: 10px;
        .add {
            background-color: #2a58ad;
            color: white;
        }
    }
}

.operate {
    & > * {
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
}

:global {
    .ant-select {
        width: 120px;
    }
}
