.form-item-input {
    width: 320px !important;
}

.form-item-input-textarea {
    width: 320px !important;
    height: 100px !important;
}

.need-show {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.solution-and-evaluation {
    display: flex;
}


.header {
    display: flex;
    margin-bottom: 18px;
    .query {
        display: flex;
        .inputs {
            display: flex;
            column-gap: 20px;
            .query-item {
                display: flex;
                align-items: center;
            }
        }
        .query-reset {
            margin-left: 20px;
            display: flex;
            column-gap: 10px;
            .query-btn {
                background-color: #2a58ad;
                color: white;
            }
        }
    }
    .btn-group {
        margin-left: auto;
        display: flex;
        column-gap: 10px;
        .add {
            background-color: #2a58ad;
            color: white;
        }
    }
}

.operate {
    & > * {
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
    .operate-btn {
        background-color: #2a58ad;
    }
    .operate-btn:hover {
        background-color: #2a58ad;
    }
}

.cancel,
.save {
    padding: 0 20px;
}

.save {
    color: white;
    background-color: #2a58ad;
}

.evaluate-btn {
    color: white;
    background-color: #2a58ad;
    padding: 0 20px;
    transform: translateX(20%) translateY(90%);
}

:global {
    .ant-modal-content {
        margin-top: 60px;
        .ant-modal-header {
            margin-bottom: 50px;
        }
    }
}
