.stability {
    height: 100%;
    background-color: #03192e;
    .menu-icon {
        cursor: pointer;
        position: absolute;
        top: 160px;
        right: 20px;
        width: 36px;
        z-index: 1;
    }
    .content {
        display: flex;
        flex-direction: column;
        height: calc(100vh-200px);
        overflow-y: scroll;
        gap: 20px;
        .category {
            height: 350px;
            position: relative;
            .left-label {
                position: relative;
                .sub-title {
                    display: flex;
                    top: 172px;
                    left: 50px;
                    position: absolute;
                    img {
                        height: 50px;
                    }
                    .sub-left,
                    .sub-right {
                        width: 70px;
                    }
                    .sub-mid {
                        width: 330px;
                    }
                    .sub-mid-sec {
                        width: 230px;
                    }
                    .sub-mid-thir {
                        width: 230px;
                    }
                    .sub-mid-four {
                        width: 230px;
                    }
                    .sub-mid-fif {
                        width: 190px;
                    }
                }
                .text {
                    position: absolute;
                    top: 184px;
                    left: 100px;
                    color: #ffffff;
                    font-size: 22px;
                    letter-spacing: 2px;
                    text-align: left;
                }
            }
            .portrait-list {
                display: flex;
                position: absolute;
                top: 240px;
                left: 100px;
                width: 1900px;
                overflow: hidden;
                .wrapper {
                    margin-left: 20px;
                    cursor: pointer;
                    .border {
                        width: 146px;
                        height: 216px;
                    }
                    .img {
                        width: 128px;
                        height: 128px;
                        margin-left: -137px;
                        top: 10px;
                        position: absolute;
                    }
                    .name {
                        color: #0291fb;
                        font-weight: 600;
                        font-size: 14px;
                        position: absolute;
                        margin-top: -74px;
                        margin-left: 72px;
                        transform: translateX(-50%);
                    }
                    .desc {
                        position: absolute;
                        width: 126px;
                        height: 32px;
                        background-color: #57668d;
                        margin-top: -52px;
                        margin-left: 2px;
                        color: #ffffff;
                        font-size: 10px;
                        padding: 4px 8px;
                        .time {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
