.stabilitySecSection {
    margin: 160px 0 50px 50px;
    .tabs {
        width: 740px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        .tab-btn,
        .actived-tab {
            padding: 10px 30px;
            border-radius: 20px;
            font-size: 16px;
            cursor: pointer;
        }
        .actived-tab {
            color: #ffffff;
            font-weight: 600;
            border: none;
            background: linear-gradient(to bottom, #02ade8, #000000);
        }
        .tab-btn {
            color: #2ea0fe;
            border: 2px solid #02ade8;
            background-color: transparent;
        }
    }
    .content {
        .section {
            margin: 20px 0 0 40px;
            .title {
                display: flex;
                align-items: center;
                gap: 10px;
                .ppl-img {
                    width: 50px;
                    height: 50px;
                }
                .sub-title {
                    color: #4ea1ff;
                    font-size: 20px;
                }
                .see-his-tracks{
                    color: #70b609;
                    font-weight: 600;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }
    }
}
