.stabilitySecSection {
    margin: 20px 0 50px 50px;
    .tabs {
        width: 740px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        .tab-btn {
            padding: 10px 30px;
            border-radius: 20px;
            border: 2px solid #02ade8;
            background-color: transparent;
            color: #2ea0fe;
            font-size: 16px;
            cursor: pointer;
        }
    }
}
